{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="home-wrapper">
    <div class="container">
        <h3 class="text-center my-4">Infos Serveur</h3>
    </div>
</div>
{% endblock %}
