<form 
  method="post" 
  action="{{ path('app_server_info_delete', {'id': server_info.id}) }}" 
  onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce Serveur?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ server_info.id) }}">
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger">supprimer</button>
    </div>
</form>
