{% extends 'base.html.twig' %}

{% block title %}New ServerInfo{% endblock %}

{% block body %}
    <h1>Create new ServerInfo</h1>

    {{ include('server_info/_form.html.twig') }}

    <a href="{{ path('app_server_info_index') }}">back to list</a>
{% endblock %}
