<form method="post" action="{{ path('app_vhost_delete', {'id': vhost.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer ce Vhost?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vhost.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
