{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-center my-1">
      <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
