{% extends 'base.html.twig' %}

{% block title %}ajouter un Vhost{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center ">
        <div class="mb-3">
          <h3>Ajouter un Vhost</h3>
            {{ include('vhost/_form.html.twig') }}
            <div class="d-flex justify-content-center">
              <a class="btn btn-primary" href="{{ path('app_vhost_index') }}">retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
